# Игнорируем папку сборки
build/

# Игнорируем бинарники и исполняемые файлы
*.exe
*.obj
*.lib
*.dll
*.pdb
*.ilk
*.suo
*.exp
*.tlog
*.idb

# Игнорируем сгенерированные текстовые файлы и результаты
test*.txt
result*.txt
large*.txt
input.txt
huge_test.txt

# Системные папки и файлы
.vs/
*.user
*.suo
*.db
